            
:root{
    --col1: #FFFFFF;
    --col2: #2B2B2F;
    --col3: #ffa444;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
html *{
padding: 0px;
margin: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background: #ffc383;
    background: #ffbb73;
    background: #ffda73;
    background: var(--col1);
    background: #58bca4;
}
.navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--col2);
    background: #666a9abe;
    background: #f7c7dd;
    background: var(--col3);
    background: #ffc383;
    background: #ffbb73;
    background: #ffda73;
    background: var(--col3);
    background: transparent;
    /* background: linear-gradient(#00000000,#666a9abe,); */
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .navbarHeading{
    padding-left: 20px;
    font-size: 25px;
    text-decoration: none;
    color: var(--col1);
    color: #142c44;
    font-weight: 600;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 60%;
}
.navbar ul li a{
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 100px;
    transition: all;
    transition-duration: 0.2s;
    font-size: 17px;
    color:  #e04990;
    color:  #666a9a;
    color:  #4a52b2;
    color: var(--col1);
    color: #142c44;
    font-weight: 600;
}

.navbar ul li a:hover{
    /* letter-spacing: 0.5px; */
    /* background: var(--col1);
    color: var(--col2); */
    transition: all;
    transition-duration: 0.2s;
    color: var(--col1);
    
    /* border-color: var(--col1); */
}

body .container{
    height: 87%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/aboutapp.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: left center;
}
