:root{
    --col1: #FFFFFF;
    --col2: #2B2B2F;
    --col3: #ffa444;
    --col3: #728cf3;
    --col3: #607dee;
    --col4: #e3e9ff;
    font-family: 'Montserrat', sans-serif;
}


::placeholder, input{
    font-family: 'Montserrat', sans-serif;
}

html *{
    margin:0;
    padding:0;
}
.mainheading{
    position:absolute;
    top: 0px;
    right: 0px;
    font-size: 35px;
    color: var(--col1);
    background-color: var(--col3);
    padding: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* animation: tr 0.3s; */
    background: var(--col4);
}
@keyframes tr {
    from{
        opacity: 0;
        transform: translateY(-10px);
        /* width: 0vw; */
    }
    to{
        opacity: 1;
        transform: translateY(0);
        /* width: 100vw; */
    }
}
.body{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: url("/static/images/signup2.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center right;
    /* background: red; */
    
}
.body .part{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    /* background: var(--col1); */
    color: var(--col2);
    /* border-radius: 20px; */
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
    border: 1.5px solid var(--col3);
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    /* border-right: 1.5px solid var(--col3);
    border-radius: 0; */
}
.body .part .heading{
    font-size: 40px;
    font-weight: bold;
    color: var(--col3);
}
.body .part form{
    width: 85%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body .part form .inputfield{
    width: 95%;
    /* height: 15%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid black; */
    margin: 7px 0px;
    
}
.body .part form .inputfield label{
    font-size: 14px;
}
.body .part form .inputfield input{
    height: 35px;
    width: 97%;
    padding-left: 10px;
    border: 0px;
    border-bottom: 1px solid var(--col2);
    background: transparent;
}
.body .part form .inputfield input:focus{
    outline: none;
    border-color: var(--col3);
}
.body .part form .inputfield .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
}
.body .part form .inputfield .row input{
    width: 45%;
}
.body .part form .buttonfield{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.body .part form .buttonfield .row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.body .part form .buttonfield button{
    padding: 9px 23px;
    color: var(--col1);
    background: var(--col3);
    border: 1.5px solid transparent;
    border-radius: 100px;
    margin: 10px 0px;
    cursor: pointer;
    width: 35%;
    transition: all;
    transition-duration: 0.2s;
}
.body .part form .buttonfield button:hover{
    /* background: transparent;
    color: var(--col3);
    border-color: var(--col3); */
}
.body .part form .buttonfield button:active{
    transform: scale(0.97);
}
.body .part form .inputfield p{
    width: 100%;
    text-align: center;
}

.body .part form .inputfield .signup{
    color: var(--col3);
}

