{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/stylesheets/quickguide.css">
        <title>OneTracker | Dashboard </title>


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

        <link rel="icon" href="/static/images/favicon2.png" type="image/png">
    </head>
    <body>

            
            <div class="navbar">
                <a href="" class="navbarHeading">
                    OneTracker
                </a>
                <ul>
                    <li> <a href="home"> DashBoard </a></li>
                    <li> <a href="profile"> Profile </a></li>
                    <li> <a href="aboutapp"> About App </a></li>
                    <li> <a href="quickguide"> Quick Guide </a></li>
                    <li> <a href="logout"> Log Out </a></li>
                </ul>
            </div>

            <div class="container">
                
            </div>
            
    </body>
</html>